################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BE_012026.ConsoleApp/.vs/BE_012026.ConsoleApp
